body {
  margin: 0;
  background-color: #37017c;
  color: aliceblue;
  font-family: monospace;
  font-weight: bolder;
}
.main {
  margin: 0 auto;
  text-align: center;
}
.board {
  background-color: #ddd;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}
table {
  width: 100%;
}
