body {
  display: grid;
  color: aliceblue;
  font-family: monospace;
  font-weight: bolder;
  background-color: #212529;
}
/* .main {
  margin: 0 auto;
  text-align: center;
} */
.board {
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
  border-bottom: 1px solid #e34b94;
  cursor: crosshair;
  margin-left: 600px;
}
table {
  width: 60%;
  margin: 0 auto;
  margin-right: 0px;
}
button {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  color: aliceblue;
  font-family: inherit;
  padding: 5px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(74, 46, 105);
  color: aliceblue;
}
.eraserBtn {
  font-weight: bolder;
  background-color: rgb(74, 46, 105);
}
.recording {
  background-color: rgb(136, 19, 19);
}
.play {
  background-color: rgb(12, 94, 48);
}
