body {
  margin: 0;
  color: aliceblue;
  font-family: monospace;
  font-weight: bolder;
  background-image: linear-gradient(to right, #080014 0%, #3d1472 100%);
}
.main {
  margin: 0 auto;
  text-align: center;
}
.board {
  background-color: #080014;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(74, 46, 105);
  cursor: url("./assets/t");
}
table {
  width: 100%;
}
button {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  color: aliceblue;
  font-family: inherit;
  padding: 5px;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(74, 46, 105);
  color: aliceblue;
}
.eraserBtn {
  font-weight: bolder;
  background-color: rgb(74, 46, 105);
}
